        h1{color:rgba(255, 0, 0, 0.562);}
        p{color:rgb(42, 116, 165);}
        #parrafo2{color:rgba(201, 136, 17, 0.774);}
        #parrafo4{color:rgb(28, 121, 28);}
        .subtitulo{color:rgb(255, 255, 255);background:rgb(173, 119, 175);}